.mb-categories {
	text-align: center;
	padding-top: 30px;
}

.mb-categories-select {
	margin-right: 15px;
	background-color:rgba(49,181,114,1);
	color: white;
	padding: 12px;
	width: 150px;
	border: none;
	font-size: 15px;
	border-radius: 5px;
}
.reset-btn{
	height: 50px;
	width:100px;
	border-radius: 25px;
	border:none;
	background-color:rgba(49,181,114,1);
	color:white;
	text-align: center;
	padding:5px;
	justify-content: center;
	font-size: 20pxh;
}
.reset-btn:hover{
	background-color: rgba(49,181,114,0.8);
	cursor:pointer;
}
.mb-categories-select:hover{
	cursor:pointer;
	background-color: rgba(49,181,114,0.8);
}