.changePassword_container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    top: 15%;
  }
  
  .changePassword_container p {
    text-align: center;
  }
  .title{
    margin-bottom: 20px;
  }
  
  .changePassword_container form {
    margin-bottom: 15px;
  }
  
  .changePassword_container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .changePassword_container input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .changePassword_container button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: rgb(66, 83, 94, 0.88);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .changePassword_container button:hover {
    background-color: rgb(66, 83, 90, 0.88);
  }
  
  .changePassword_container .error_message {
  
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  .btn_changePassword {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color:rgb(66 83 94 / 88%);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 13px;
  }
  