.mb-footer {
	color: black;
	padding: 32px;
	border-top: solid 3px black;
	display: flex;
	/* justify-content: flex-start; */
	flex-direction: column;
	align-items: center;
	font-weight: 500;
}
label{
	justify-content: right;
}

.mb-footer-elem {
	margin-bottom: 10px;
}
:not(:focus):invalid{
	border: red 1px solid;
}

.invalidMsg{
    background-color:rgb(255, 166, 166);
    color: white;
    padding: 2px;
	margin-left:10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.373);
	justify-content: center;
    align-items: center;
	text-align: center;
    font-size: 15px; 
}
