.mb-footer {
	color: black;
	padding: 32px;
	border-top: solid 3px black;
	display: flex;
	/* justify-content: flex-start; */
	flex-direction: column;
	align-items: center;
	font-weight: 500;
}
label{
	justify-content: right;
}

.mb-footer-elem {
	margin-bottom: 10px;
}
/* .form_group {
	margin-bottom: 15px;
  }
  
  .form_group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
  } */
  .mb-send-btn{
	height: 35px;
	width:70px;
	margin-left:10px;
	border-radius: 20px;
	border:none;
	background-color:rgba(49,181,114,1);
	color:white;
	text-align: center;
	padding:5px;
	justify-content: center;
}
.inputFooter {
	width: 100%;
	padding: 8px;
	font-size: 13px;
	border: 1px solid #ccc;
	border-radius: 4px;
	height:15px;
  }
  .email{
	display: flex;
	flex-direction: row;
	justify-content: center;
  }
.inputFooter:not(:focus):invalid{
	border: red 1px solid;
} 

.invalidMsg{
    background-color:rgb(255, 166, 166);
    color: white;
    padding: 2px;
	margin-left:10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.373);
	justify-content: center;
    align-items: center;
	text-align: center;
    font-size: 15px; 
}
.mb-send-btn:hover{
	cursor:pointer;
	opacity: 0.8;
}
.btn-disabled{
	background-color: grey;
}
.btn-disabled:hover{
	cursor:auto;
	background-color: grey;
}