.mb-logo-title {
	color: black;
	text-align: right;
	padding: 0px 32px;
	border-bottom: solid 3px black;
	display: flex;
	/* justify-content: flex-end; */
	justify-content: space-between;
	/* flex-direction: row; */
	align-items: center;
	background-color: white;
}

.mb-title {
	padding-left: 32px;
}

.mb-logo {
	height: 45px;
	width: 45px;
}

.iconlogin {
	width: 40px;
	height: 40px;
  }
  
  .icon {
	margin-left: auto;
	margin-right: auto;
	/* justify-content: center; */
  }

.login-bar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 10px 0px 10px;
	background-color: rgba(49,181,114,1);
	color:white;
	font-size: 18px;
}
.sticky {
	position: sticky;
	top: 0;
	width: 100%;
	opacity: 1;
	z-index:1;
  }