.mb-plant-item-cover {
	height: 250px;
	width: 250px;
	border-radius: 20px;
	object-fit: cover;
}

.mb-plant-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
	position: relative;
}

.mb-plant-item-price {
	position: absolute;
	border-radius: 20px 20px 20px 0;
	background-color: #31b472;
	color: white;
	padding: 15px;
	right: 0;
	top: 0;
	font-weight: 500;
}

.mb-add-btn{
	height: 25px;
	width:50px;
	border-radius: 20px;
	border:none;
	background-color:rgba(49,181,114,1);
	color:white;
	text-align: center;
	padding:5px;
	justify-content: center;
}
.mb-add-btn:hover{
	background-color: rgba(49,181,114,0.8);
	cursor:pointer;
}
.btn-disabled{
	background-color: grey;
}
.btn-disabled:hover{
	cursor:auto;
	background-color: grey;
}